Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g58, pull requests merged in 2022-11, with the labels that each got.

#156 Improve Video Service
  docker-compose.frontend.yml
  docker-compose.local.yml
  frontend/nginx.conf
  frontend/src/components/room/VideoChat.jsx
  frontend/src/constants.js
  matching-service/dto/match-dto.js
  room-service/docker-compose.yml
  room-service/requests.rest
  room-service/utils/socket-io.js
Labels: Frontend, Room Service

#160 Add matching by types
  docker-compose.local.yml
  frontend/src/components/QuestionPane.jsx
  frontend/src/components/QuestionTable.jsx
  frontend/src/components/TypesStack.jsx
  frontend/src/components/match/MatchDialog.jsx
  frontend/src/components/match/MatchError.jsx
  frontend/src/components/match/MatchForm.jsx
  frontend/src/constants.js
  frontend/src/hooks/useTableSearch.js
  frontend/src/pages/QuestionBank.jsx
  frontend/src/pages/QuestionPage.jsx
  matching-service/const/constants.js
  matching-service/controller/match-controller.js
  matching-service/dto/match-dto.js
  matching-service/migrations/20220901090816-create-match.js
  matching-service/models/match.js
  matching-service/repository/match-repository.js
  matching-service/service/match-service.js
  question-service/controller/question-controller.js
  question-service/index.js
  question-service/repository/category-repository.js
  question-service/repository/question-repository.js
  question-service/requests.rest
  room-service/controller/room-controller.js
  room-service/dto/room-dto.js
  room-service/migrations/20220915072153-create-room.js
  room-service/models/room.js
  room-service/repository/room-repository.js
  room-service/service/room-service.js
Labels: Frontend, Matching Service, Room Service

#179 Fix auth timeout bug and Update frontend
  frontend/src/components/Arrow.jsx
  frontend/src/components/PrimaryFeatures.jsx
  frontend/src/components/SecondaryFeatures.jsx
  frontend/src/components/match/MatchDialog.jsx
  frontend/src/components/match/MatchTimeout.jsx
  frontend/src/pages/Home.jsx
  matching-service/utils/socket-io.js
  room-service/utils/authentication.js
Labels: bug, Frontend, Matching Service, Room Service
