Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g58, pull requests merged in 2022-09, with the labels that each got.

#49 Add timeout and validations for matching service
  matching-service/README.md
  matching-service/const/constants.js
  matching-service/dto/match-dto.js
  matching-service/handler/match-handler.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/repository/match-repository.js
  matching-service/service/match-service.js
  matching-service/utils/socket-io.js
Labels: Matching Service

#61 Created matching service frontend
  .github/PULL_REQUEST_TEMPLATE
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Header.jsx
  frontend/src/components/match/MatchDialog.jsx
  frontend/src/components/match/MatchError.jsx
  frontend/src/components/match/MatchForm.jsx
  frontend/src/components/match/MatchTimeout.jsx
  frontend/src/components/match/MatchTimer.jsx
  frontend/src/constants.js
  frontend/src/hooks/useCountdown.js
  frontend/src/pages/Match.jsx
  frontend/src/pages/Room.jsx
  matching-service/README.md
  matching-service/const/constants.js
  matching-service/handler/match-handler.js
  matching-service/index.js
  matching-service/service/match-service.js
  matching-service/utils/socket-io.js
Labels: Frontend, Matching Service

#74 Matching service/question
  frontend/src/constants.js
  frontend/src/pages/Login.jsx
  frontend/src/pages/Room.jsx
  matching-service/const/constants.js
  matching-service/handler/match-handler.js
  matching-service/handler/room-handler.js
  matching-service/index.js
  matching-service/migrations/20220915072153-create-room.js
  matching-service/models/room.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/repository/room-repository.js
  matching-service/requests.rest
  matching-service/routes/RoomRoutes.js
  matching-service/service/match-service.js
  matching-service/service/room-service.js
Labels: Frontend, Matching Service

#87 Add tests for user-service
  .github/PULL_REQUEST_TEMPLATE
  user-service/README.md
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/requests.rest
  user-service/test/index.spec.js
Labels: User Service
